.pageContainer{
    width: 80%;
    margin: auto;
}

.navbar-nav{
justify-content: center;
width: 100%;
}

.cardContainer{
text-align: center;
width: 100%;
padding: 10px;
}

.card{
    border: 1px solid;
    display: inline-block;
    margin: auto;
    text-align: center;
    margin: 5%;
    border-radius: 5px;
}

h1,h2{
    text-align: center;
}

h1{
    font-size: 5em;
}

.amenitiesContainer{
    border: 1px solid;
    padding: 2vh;
}

.footerContainer{
    text-align: center;
    font-size: 1.5em;
    border: 1px solid;
    width: 100%;
    margin-top: 2%;
    padding: 1%;
}